<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Venue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div th:insert="header :: header"></div>
<div class="container my-5">
    <h3>Add Venue</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/add-venue}" th:object="${venue}"
                      method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Venue Name</label>
                            <input type="text" th:field="*{name}" class="form-control" id="name" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="type" class="col-form-label">Venue Type</label>
                            <select name="type" class="form-control" id="type">
                                <option value="" hidden>Select a venue type</option>
                                <option th:each="type : ${T(lv.dita.enums.VenueType).values()}"
                                        th:value="${type}" th:text="${type.displayValue}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="country" class="col-form-label">Country</label>
                            <input type="text" th:field="*{country}" class="form-control" id="country" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="city" class="col-form-label">City</label>
                            <input type="text" th:field="*{city}" class="form-control" id="city" />
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Add ">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>