<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>
<div th:insert="header :: header"></div>
<div>
<h2> Welcome to the Gig log - application to easily log all the gigs of your bands! </h2>
    <p>Please enter your data first:</p>
</div>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${managers}" class="container my-5">
                <p class="my-5">
                    <a href="/addManager" class="btn btn-primary">
                        <i class="fas fa-user-plus ml-2">Add Manager </i></a>
                </p>
            </div>
            <div th:switch="${artists}" class="container my-5">
                <p class="my-5">
                    <a href="/addArtist" class="btn btn-primary">
                        <i class="fas fa-user-plus ml-2">Add Artist </i></a>
                </p>
            </div>
            <div th:switch="${venues}" class="container my-5">
                <p class="my-5">
                    <a href="/addVenue" class="btn btn-primary">
                        <i class="fas fa-user-plus ml-2">Add Venue </i></a>
                </p>
            </div>
            <div th:switch="${gigs}" class="container my-5">
                <p class="my-5">
                    <a href="/addGig" class="btn btn-primary">
                        <i class="fas fa-user-plus ml-2">Add Gig </i></a>
                </p>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>