<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" media="screen" href="style.css">

</head>

<body>

<p> Welcome to the Gig log - application to easily log all the gigs of your band!</p>

<p>Please enter your data first:</p>
<ol>
    <li class="list-choices"><a href="list-managers.html" th:href="@{/managers}">Managers list</a></li>
    <li class="list-choices"><a href="list-artists.html" th:href="@{/artists}">Artist list</a></li>
    <li class="list-choices"><a href="list-venues.html" th:href="@{/venues}">Venues list</a></li>
    <li class="list-choices"><a href="list-gigs.html" th:href="@{/gigs}">Gig list</a></li>
</ol>

</body>
</html>