<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Artists</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>
<body>
<div th:insert="header :: header"></div>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${artists}" class="container my-5">
                <p class="my-5">
                    <a href="/addArtist" class="btn btn-primary">
                        <i class="fas fa-user-plus ml-2">Add Artist</i></a>
                </p>
                <div class="col-md-12">
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Contact e-mail</th>
                                <th>Manager's surname</th>
                                <th>Details</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="artist : ${artists}">
                                <td th:text="${artist.name}"></td>
                                <td th:text="${artist.contactEmail}"></td>
                                <td th:each="manager : ${managers}" th:if="(${manager.id} == ${artist.id})" th:text="${manager.surname}"></td>
                                <td><a th:href="@{/artist/{id}(id=${artist.id})}" class="btn btn-primary"><i class="fas fa-marker ml-2"></i></a></td>
                                <td><a th:href="@{/updateArtist/{id}(id=${artist.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                <td><a th:href="@{/remove-artist/{id}(id=${artist.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>