<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Gig</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div th:insert="header :: header"></div>
<div class="container my-5">
    <h3>Update Gig</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/update-gig/{id}(id=${gig.id})}" th:object="${gig}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Venue Name</label>
                            <select name="name" class="form-control" id="name">
                                <option th:each="venue : ${venues}"
                                        th:value="${venue.id}" th:text="${venue.name}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="type" class="col-form-label">Gig Type</label>
                            <select name="type" class="form-control" id="type">
                                <option th:each="type : ${T(lv.dita.enums.GigType).values()}"
                                        th:value="${type}" th:text="${type.displayValue}" th:required="required"></option>
                            </select>
                        <div class="form-group col-md-8">
                            <label for="date" class="col-form-label">Date</label>
                            <input type="date" th:field="*{date}" class="form-control" id="date" th:required="required"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="artist" class="col-form-label">Artist</label>
                            <select name="artist" class="form-control" id="artist" th:placeholder="Artist" th:required="required">
                                <option th:each="artist : ${artists}"
                                        th:value="${artist.id}" th:text="${artist.name}"></option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Update ">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>